* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 2.4rem 0;
  margin-bottom: 3.2rem;
}

.header__container,
.main-container {
  max-width: 90%;
  margin: 0 auto;
}

.header__text {
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.form__input-group label {
  font-size: 3.2rem;
  line-height: 1.1em;
  margin-bottom: 1.6rem;
}

.form__input-group input,
.form__input-group textarea {
  background-color: #ececec;
  border: none;
  font-size: 2.4rem;
  padding: 1.6rem;
}

.form__input-group textarea {
  font-family: "Poppins", sans-serif;
  resize: vertical;
}
